#employee {
    
}

.employee-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-section-msg {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin: 2em 0;
}