/* nav mobile version */
a {
    color: white;
    text-decoration: none;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.active-link {
    background-color: #63B83F;
    color: white;
}
#nav-container > .navMain > ul:nth-of-type(1) > li > .active-link:hover {
    cursor: pointer;
    color: white;
}

#nav-container {
    --width: 80vw;
    width: var(--width);
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    transition: .3s;
    pointer-events: none;
    visibility: visible;
}

#nav-container > .navMain {
    width: calc(var(--width) * .8);
    height: 100%;
    background-color: black;
    color: white;
    pointer-events: auto;
    box-sizing: border-box;

    font-size: 2.25rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#nav-container > .navMain > header {
    color:#63B83F;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2em;
    width: 100%;
}
#nav-container > .navMain > header > span {
    font-weight: 600;
}
#nav-container > .navMain > header > i {
    color:white;
    text-align: center;
    font-size: 2em;
}

#nav-container > .navMain > ul:nth-of-type(1) {
    list-style-type: none;
    margin: 2em 0;
}
#nav-container > .navMain > ul:nth-of-type(1) > li {
    margin: 1em 0;
}
#nav-container > .navMain > ul:nth-of-type(1) > li > a:hover {
    cursor: pointer;
    color:#63B83F;
}

#nav-container > .navMain > ul:nth-of-type(2) {
    list-style-type: none;
}
#nav-container > .navMain > ul:nth-of-type(2) > li > a:hover {
    cursor: pointer;
    color:#63B83F;
}

#nav-container > .navToggle{
    width: calc(var(--width) * .1);
    height: calc(var(--width) * .1);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0rem 1rem 1rem 0;
    color: white;
    background-color: black;
    opacity: .7;
    transition: .2s;
    cursor: pointer;
    pointer-events: auto;
}

#nav-container > .navToggle:hover {
    opacity: 1;
    transition: .2s;
}
/* possible css feature request:
It would be nice if we have some kind of feature that can save whole declaration block
in a variable, and apply it in other selectors. 
for example, the .navToggleHovered selector below, i can save its declaration block
in a variable, say --navHoverStyle, then i can apply inside 
the selector nav > .navToggle:hover above with a syntax like:
nav > .navToggle:hover { include --navHoverStyle }
*/
#nav-container > .navToggleHovered {
    opacity: 1;
    transition: .2s;
}

.navHide {
    margin-left: calc(var(--width) *.8 * -1);
    transition: .3s;
}

/* nav desktop version */
@media (min-aspect-ratio: 8 / 5){
    a {
        color: black;
        text-decoration: none;
    }

    #nav-container {
        font-size: 1.25rem;
        height: 100%;
        width: var(--nav-desktop-width);
        position: fixed;
    }

    #nav-container > .navMain {
        box-sizing: border-box;
        padding: 1.5rem;
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;

        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #nav-container > .navMain > header > i {
        color:black;
        text-align: center;
        font-size: 2em;
    }
    
    #nav-container > .navMain > header {
        color:#63B83F;
        align-self: flex-start;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
    }

    #nav-container > .navMain > ul:nth-of-type(1) {
        list-style-type: none;
        margin: 2em 0;
    }
    #nav-container > .navMain > ul:nth-of-type(1) > li {
        margin: 1em 0;
    }
    #nav-container > .navMain > ul:nth-of-type(1) > li:hover {
        cursor: pointer;
        color:#63B83F;
    }

    #nav-container > .navMain > ul:nth-of-type(2) {
        list-style-type: none;
    }
    #nav-container > .navMain > ul:nth-of-type(2) > li:hover {
        cursor: pointer;
        color:#63B83F;
    }

    #nav-container > .navToggle {
        display: none;
    }

    .navHide {
        margin-left: 0;
        transition: 0s;
    }
}