* {
    margin: 0;
    padding: 0;
}

html {
    font-size: .8vw;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    height: 100%;
    background: url(../img/bg.jpg);
    background-color: grey;
    background-blend-mode: multiply;
}

section {
    font-family: 'Nunito';
    font-size: 2rem;
    font-style: normal;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
}

section > h1 {
    font-size: 3em;
    text-align: center;
}

form {
    box-sizing: content-box;
    padding: .5em .5em;
    width: 50%;
}

label {
    margin: 0;
}

.input {
    font-family: 'Nunito';
    padding: .25em .5em;
    display: block;
    background-color: #777777CC;
    color: white;
    border-radius: 100px;
    width: 100%;
    margin-bottom: .5em;
}

.submit-btn {
    background-color: #444444CC;
    margin-top: 2em;
    width: 100%;
}

.submit-btn:hover {
    background-color: #AAAAAACC;
    cursor: pointer;
    transition: .2s;
}

::placeholder {
    color: white;
    opacity: .5;
}

@media (max-aspect-ratio: 8 / 5) {
    html {
        font-size: .9vh;
    }

    body {
        flex-direction: column;
        justify-content: center;
    }

    section {
        font-size: 3rem;
        width: 100%;
    }

    form {
        width: 100%;
        max-width: 20em;
    }
}