.employee-field {
    text-align: center;
}

.employee-card {
    display: flex;
    width: 100%;
    gap: 1em;
    box-sizing: content-box;
    box-shadow: 5px 5px 3px #00000055;
    border-radius: 10px;
    border: solid black 1px;
    padding: .5em;
    margin: .5em 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.employee-actions {
    display: flex;
    gap: 1em;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   transition: 0.3s;
}

.employee-action:hover {
    color: black;
    transition: 0.3s;
    box-shadow: 2px 2px 1px black;

}

.employee-search-result-count {
    width: 100%;
    text-align: right;
}

.edit-action {
    color : blue;
}

.delete-action {
    color : red;
}

.payroll-action {
    color: green;
}

.timesheet-action{
    color: orange;
}