.backdrop {
    width: 100%;
    height: 100%;
    background-color: #000000e1;
    position: fixed;
}

.backdrop-nav {
    width: 100%;
    height: 100%;
    background-color: #000000e1;
    position: fixed;
    visibility: visible;
}

.backdrop-nav-hide {
    visibility: hidden;
    height: 100%;
}

@media (min-aspect-ratio: 8 / 5){
    .backdrop-nav {
        width: var(--nav-desktop-width);
        height: 100%;
        position: static;
        visibility: hidden;
    }
}