.employee-form-cancel {
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 10px;
    background-color: #d44662;
    border: none;
    color: white;
    padding: .5em 0em;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
    display: block;
    text-align: center;
}